@import url('./styles/registro/Registro.css');
@import url('./styles/home/Home.css');
<<<<<<< HEAD
@import url('./styles/home/NewRegistro.css');
=======
@import url('./styles/login/login.css');
@import url('./styles/login/register.css');

>>>>>>> 86aeb43c9ea63202dab82b87fd535c69d9250f28

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
